<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Login</title>
</head>
<body>

<form action="/login" method="post">
    <label>用户名：</label>
    <input type="text" name="username"><br>
    <label>密码</label>
    <input type="password" name="password"><br>
    <input type="submit" value="登录"> <br>


</form>
<a href="https://gitee.com/oauth/authorize?client_id=25c3fe536bb82c3cab368d52792be50467c59a166835225f923dc7a9be0a2f66&redirect_uri=http://localhost:11001/oauth2/gitee/success&response_type=code&scope=user_info">
    <button>gitee</button>
</a>

</body>
<script>
    
</script>
</html>