<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xingbingxuan.blog.account.mapper.UserFollowMapper">


    <select id="selectAllByUserId" resultType="com.xingbingxuan.blog.account.entity.UserFollowEntity">
        SELECT * FROM `user_follow` WHERE user_id = #{param1}
    </select>
    <select id="selectCountByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `user_follow` WHERE user_id = #{param1}
    </select>

    <select id="selectAllByFollowUserId" resultType="com.xingbingxuan.blog.account.entity.UserFollowEntity">
        SELECT  * FROM `user_follow` WHERE follow_user_id = #{param1}

    </select>
    <select id="selectCountByFollowUserId" resultType="java.lang.Integer">
        SELECT  COUNT(*) FROM  `user_follow` WHERE follow_user_id = #{param1}
    </select>


</mapper>