
*.java linguist-language=java

*.css linguist-language=css
*.html linguist-language=html
*.js linguist-language=js

*.pom linguist-language=pom
*.yml linguist-language=yml
*.yaml linguist-language=yml
