<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xingbingxuan.blog.client.mapper.CommentMapper">

    <resultMap id="CommentResult" type="CommentEntity">
        <result column="comment_id" property="commentId"/>
        <result column="comment_name" property="commentName"/>
        <result column="comment_content" property="commentContent"/>
        <result column="comment_time" property="commentTime"/>
        <!--<association property="children"
                     select="com.xingbingxuan.blog.client.mapper.CommentMapper.selectByBidAndParentId"
                     column="{comment_bid,comment_parent_id}" javaType="commentEntity" fetchType="lazy">

        </association>-->
    </resultMap>

    <update id="updateCommentBy">
        UPDATE `comment` SET
        <trim suffix="" prefix="" suffixOverrides=",">
            <if test=" commentFlag != null">
                comment_flag = #{commentFlag},
            </if>
            <if test="commentContent != null and commentContent != ''">
                comment_content = #{commentContent}
            </if>
        </trim>
        WHERE
            comment_id = #{commentId}
    </update>

    <select id="selectByBid" resultMap="CommentResult">
        SELECT * FROM comment WHERE comment_bid = #{blogId}
    </select>

    <select id="selectByBidAndParentId" resultMap="CommentResult">
        SELECT * FROM comment WHERE comment_bid = #{commentBid} AND comment_parent_id = #{commentParentId}
    </select>

    <select id="selectCommentCount" resultType="Integer">
        SELECT COUNT(*) FROM comment
    </select>
    <select id="selectCountByWeek" resultType="CommentEntity">
        SELECT comment_time FROM `comment` WHERE DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= comment_time
    </select>

    <select id="selectAllComment" resultType="CommentVo">
        SELECT c.* ,b.b_title FROM `comment` AS c LEFT JOIN `blog` AS b ON b.b_id = c.comment_bid
        <where>
            1 = 1
            <if test="search != null and search != ''">
                AND b.b_title LIKE CONCAT('%',#{search},'%')
                OR c.comment_name LIKE CONCAT('%',#{search},'%')
            </if>
        </where>

    </select>
    <select id="selectAllByCommentParentId" resultType="CommentVo">
        SELECT c.* ,b.b_title FROM `comment` AS c LEFT JOIN `blog` AS b ON b.b_id = c.comment_bid WHERE c.comment_parent_id = #{param1}

    </select>


</mapper>