<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xingbingxuan.blog.client.mapper.SeriesMapper">


    <select id="selectAll" resultType="SeriesEntity">
        SELECT * FROM series
    </select>

    <select id="selectAllByBId" resultType="SeriesEntity">
        SELECT
	        series_id,
	        series_name
        FROM
	        series
	        LEFT JOIN blog ON blog.b_tid = series.series_id
	    WHERE blog.b_id = #{param1}
    </select>

</mapper>